/* ne asiguram ca pagina ocupa minim toata inaltimea ecranului */

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout main {
    text-align: center;
    flex: 1;
}